.logo-image {
    width: 190px;
}

.header {
    background-color: #F9E5A9;
}

.footer {
    background-color: #F9E5A9;
}

.foreground {
    color: #996B00;
}

.connected-peers {
    color: #996B00;
}

.start-all-clocks-area button {
    color: white;
    background-color: #E4A000;
}